<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="con" connectionString="Data Source=PROSVERMA\SQLEXPRESS;Database=VDBS;Integrated Security=True"/>
	</connectionStrings>
	<system.web>
		<httpRuntime maxRequestLength="1024000" />
		<compilation debug="true" targetFramework="4.5"/>
		<pages controlRenderingCompatibilityVersion="4.0"/>
	</system.web>
</configuration>